h1 {
  position: relative;
  left: 25%;
  text-align: left;
}

h2 {
    position: relative;
    text-align: right;
    width: 20%;
}

p {
    position: relative;
    left: 25%;
    margin-bottom: 0.7em;
    margin-right: 0;
    width: 55%;
}

code {
  font-size: 90%;
  background-color: #fff;
  font-color: #aaa;
}

p code {
    position: absolute;
    text-align: right;
    right: -20%;
}

h1+p {
  position: relative;
  left: 25%;
  
  font-style: italic;
  font-size: 110%;
  margin-bottom: 0.7em;
}
