.container {
  width: 50%;
  margin: auto;
  text-align: left;
}

h2 {
  width: 20%;
  margin: auto;
  left: 0%;
  text-align: left;
}

p em {
  width: 20%;
  margin: auto;
  right: 100%;
  text-align: left;
}
