.container {
  width: 50%;
  margin: auto;
  text-align: left;
}

h2 {
  position: relative;
}

p em {
  width: 50%;
  display: inline-block;
  text-align: right;
}

p strong {
  width: 50%;
  display: inline-block;
  text-align: left;
}

